{% extends "layout.html.twig" %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}
    <p>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <h3>Comments</h3>
        {% for comment in comments %}
            <strong>{{ comment.author.username }}</strong> said: {{ comment.content }} <br> 
            {% else %}
            No comentarios aun. 
        {% endfor %}
    
    <h3>Añade un comentario</h3>
    {% if commentForm %}
        {{ form_start(commentForm) }}
            <div class="form-group">
                
            </div>
        {{ form_end(commentForm)}}
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add comments.
    {% endif %}
    </p>
{% endblock %}